name = "skye-db-control-plane"
main = "src/index.js"
compatibility_date = "2026-03-17"
compatibility_flags = ["nodejs_compat"]

[vars]
CORS_ORIGIN = "<cors-origin>"
PUBLIC_DB_HOST = "<public-db-host>"
PUBLIC_DB_PORT = "5432"
PUBLIC_DB_SSLMODE = "require"
SUPERADMIN_EMAILS = "owner@internal.invalid,ops@internal.invalid"

[[hyperdrive]]
binding = "HYPERDRIVE"
id = "REPLACE_WITH_HYPERDRIVE_ID"
